
     <div class="container-fluid">
        <div class="bg-wine">
            <div class="main">
                <div class="container-login">
                    <center>
                        <div class="middle">
                            <div id="login" class="login">
                                <form method="post">
                                        <p><span class="fa fa-user"></span><input type="text" Placeholder="Nombre de usuario" required ng-model="username"></p>
                                        <p><span class="fa fa-lock"></span><input type="password" Placeholder="Contraseña" required ng-model="password"></p>
                                        <div><span>
                                            <input type="submit" value="Ingresar" ng-click="login()"></span>
                                        </div>
                                </form>
                            </div> 
                            <div class="logo" id="logoLogin"></div>
                        </div>
                    </center>
                </div>

                <div class="toast" data-autohide="false" id="alerta" style="position: fixed; top: 50px; right: 50px; background-color: rgb(255, 255, 255); width:500px">
                 <div class="toast-header bg-{{alert.tipo}} text-white">
                  <strong class="mr-auto">{{alert.titulo}}</strong>
                 <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                  <span aria-hidden="true" style="font-size: 1.1em;">&times;</span>
                  </button>
                 </div>
                  <div class="toast-body">
                  <div>{{alert.mensaje}}</div>
                 </div>
                 </div>
                 
            </div>
        </div>
    </div>