<ng-include src="'/Residencia/Pruebas/pruebaLogin/vistasD/nav.html'"></ng-include>
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="mt-2">
            <img src="\Residencia\Proyecto\images\Logo ITD.png" class="logoITD" alt="">
        </div>
        <div class="p-2 mt-2 align-self-center align-middle text-center">
            <h1>Periodo {{periodo}} </h1>
            <p class="font-weight-bold">Encuesta de opinion</p>
        </div>
    </div>
    <div class="p-2">
        <form>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">5</th>
                        <th scope="col">4</th>
                        <th scope="col">3</th>
                        <th scope="col">2</th>
                        <th scope="col">1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in preguntas">
                        <th scope="row">{{ $index + 1 }}.- {{p.pregunta}}</th>
                        <td>
                            <div class="custom-control custom-radio">
                                <input name="p{{p.id}}" required class="custom-control-input" type="radio"
                                    ng-model="listaRespuestas[p.id]" value="5" id="r5-{{p.id}}" />
                                <label class="custom-control-label" for="r5-{{p.id}}"></label>
                            </div>
                        </td>
                        <td>
                            <div class="custom-control custom-radio">
                                <input name="p{{p.id}}" class="custom-control-input" type="radio"
                                    ng-model="listaRespuestas[p.id]" value="4" id="r4-{{p.id}}" />
                                <label class="custom-control-label" for="r4-{{p.id}}"></label>
                            </div>
                        </td>
                        <td>
                            <div class="custom-control custom-radio">
                                <input name="p{{p.id}}" class="custom-control-input" type="radio"
                                    ng-model="listaRespuestas[p.id]" value="3" id="r3-{{p.id}}" />
                                <label class="custom-control-label" for="r3-{{p.id}}"></label>
                            </div>
                        </td>
                        <td>
                            <div class="custom-control custom-radio">
                                <input name="p{{p.id}}" class="custom-control-input" type="radio"
                                    ng-model="listaRespuestas[p.id]" value="2" id="r2-{{p.id}}" />
                                <label class="custom-control-label" for="r2-{{p.id}}"></label>
                            </div>
                        </td>
                        <td>
                            <div class="custom-control custom-radio">
                                <input name="p{{p.id}}" class="custom-control-input" type="radio"
                                    ng-model="listaRespuestas[p.id]" value="1" id="r1-{{p.id}}" />
                                <label class="custom-control-label" for="r1-{{p.id}}"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"> 
                            <div class="form-group">
                                <label for="sugerencias" class="font-weight-bold ml-3">Sugerencias:</label>
                                <textarea class="form-control" id="sugerencias"  rows="2" ng-model="sugerencias"></textarea>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <button class="btn bg-wine text-white" type="submit" ng-click="enviar()" <i class="ok2_icon"></i>Enviar
                </button>
            </div>
        </form>
        <div>
            <tt>respuesta = {{listaRespuestas | json}}</tt><br />
            <tt>sugerencias = {{sugerencias | json}}</tt><br />
        </div>

    </div>
</div>
<div class="toast" data-autohide="false" id="alerta"
    style="position: fixed; top: 50px; right: 50px; background-color: rgb(255, 255, 255); width:500px">
    <div class="toast-header bg-{{alerta.tipo}} text-white">
        <strong class="mr-auto">{{alerta.titulo}}</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
            <span aria-hidden="true" style="font-size: 1.1em;">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <div>{{alerta.mensaje}}</div>
    </div>
</div>