<ng-include src="'/Residencia/Pruebas/pruebaLogin/vistasI/nav.html'"></ng-include>

<div class="container" ng-init="getParticipantes()">
    <div class="d-flex">
        <div class="p-2">
            <img src="\Residencia\Proyecto\images\Logo ITD.png" class="logoITD" alt="">
        </div>
        <div class="p-5">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-center"> {{fecha}} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in participantes">
                        <th scope="row" class="fontT align-middle"> {{x.nombre}} </th>
                        <td class="align-middle">
                            <div class="custom-control custom-checkbox text-center align-middle">
                                <input type="checkbox" class="custom-control-input" id="c{{x.idUsuario}}" ng-model="listaAlumnos[x.idUsuario]"/>
                                <label class="custom-control-label" for="c{{x.idUsuario}}"></label>
                            </div>
                        </td>
                    </tr> 
                    <tr>
                        <td class="p-4"><button class="btn btn-secondary" ng-click="uncheck()"><i class="erase_icon"></i>Borrar</button></td>
                        <td class="p-4">
                            <button class="btn bg-wine text-white" ng-click="registrarAsistencia()"><i class="send_icon"></i>Enviar</button>
                        </td>
                    </tr>

                </tbody>
                <!-- <input type="button" value="Get" ng-click="GetValue()" /> -->
            </table>
            <h2>Selected</h2>
            <p>{{listaAlumnos|json}}</p>
        </div>
    </div>
</div>