<ng-include src="'/Residencia/Pruebas/pruebaLogin/vistasI/nav.html'"></ng-include>
<div class="container" ng-init="faltaDocumentacion()">
    <div class="programa_page d-flex justify-content-center">
        <div class="p-2"><img src="/Residencia/Proyecto/images/Logo ITD.png" alt="logo ITD" class="logoITD"></div>
        <div class="p-4">
            <div class="text-center">
                <h1>Periodo: {{periodo}}</h1>
                <h3>Programa Institucional de Formaci&oacute;n y Actualizaci&oacute;n Docente y Profesional</h3>
            </div>
        </div>
    </div>
    <table class="table table-responsive  text-center">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Curso</th>
                <th scope="col">Periodo de realizaci&oacute;n</th>
                <th scope="col">Subir documentaci&oacute;n</th>
                <th scope="col">Asistencia</th>
                <th scope="col">Participantes</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in cursos">
                <th scope="row" class=" align-middle "> 
                    <span id="documentacion{{x.idCurso}}"></span>
                </th>
                <td><a class="text-decoration-none " href="#!/inicioI/cursos/infoCurso" ng-click=cursoID(x.idCurso) title="Ver más">{{x.curso}}</a></td>
                <td>{{x.fecha}} <br> {{x.horario}}</td>
                <td class=" align-middle "><a href="#!/inicioI/subirDocumentos"
                    ng-click=cursoID(x.idCurso)><button class="btn bg-white subirDocumento_icon"></button></a></td>
                <td class=" align-middle "><a href="#!/inicioI/asistencia" ng-click=cursoID(x.idCurso)><button class="btn bg-white calendario_icon"></button></a></td>
                <td class=" align-middle "><a href="#!/inicioI/participantes" ng-click=cursoID(x.idCurso)><button class="btn bg-white grupo_icon" title="Participantes"></button></a></td>
            </tr>
        </tbody>
    </table>
</div>