<ng-include src="'/Residencia/Pruebas/pruebaLogin/vistasI/nav.html'"></ng-include>
<div class="container">
    <div class="programa_page d-flex justify-content-center" ng-init="getParticipantes()">
        <div class="p-2"><img src="/Residencia/Proyecto/images/Logo ITD.png" alt="logo ITD" class="logoITD"></div>
        <div class="p-4">
            <div class="text-center">
                <h1>Periodo: Agosto/Diciembre 2020</h1>
                <h3>Programa Institucional de Formaci&oacute;n y Actualizaci&oacute;n Docente y Profesional</h3>
            </div>
        </div>
    </div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Participante</th>
                <th scope="col">Sexo</th>
                <th scope="col">Contrato</th>
                <th scope="col">RFC</th>
                <th scope="col">Departamento</th>
                <th scope="col">Horas</th>
                <th scope="col">Nivel</th>
                <th scope="col">Perfil deseable</th>
                <th scope="col">Función Administrativa</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in participantes">
                <th></th>
                <td> {{x.nombre}} </td>
                <td> {{x.sexo}} </td>
                <td> {{x.contrato}} </td>
                <td> {{x.RFC}} </td>
                <td> {{x.nombreD}} </td>
                <td> {{x.horas}} </td>
                <td> {{x.nivel}} </td>
                <td> {{x.perfilDeseable}} </td>
                <td> {{x.FD}} </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center ">
        <button class="btn bg-wine text-white" ng-click="printFormato()">
            <span class="downloadDocs_icon mr-2"></span>Formato Lista de Asistencia
        </button>
        <button class="btn bg-wine text-white" ng-click="printIndicadores()">
            <span class="downloadDocs_icon mr-2"></span>Indicadores de Participantes
        </button>
    </div>
</div>