<ng-include src="'/Residencia/Pruebas/pruebaLogin/vistasI/nav.html'"></ng-include>
<div class="container">
    <div class="programa_page d-flex justify-content-center" ng-init="getParticipantes()">
        <div class="p-2"><img src="/Residencia/Proyecto/images/Logo ITD.png" alt="logo ITD" class="logoITD"></div>
        <div class="p-4">
            <div class="text-center">
                <h1>Periodo: Agosto/Diciembre 2020</h1>
                <h3>Programa Institucional de Formaci&oacute;n y Actualizaci&oacute;n Docente y Profesional</h3>
            </div>
        </div>
    </div>
    <div class=" table-responsive ">
        <table class="table text-center">
            <thead class="bg-wine text-white">
                <tr>
                    <td class="font-italic align-middle">Participante</td>
                    <td class="font-italic align-middle">Sexo</td>
                    <td class="font-italic align-middle">Departamento</td>
                    <td class="font-italic align-middle">Horas</td>
                    <td class="font-italic align-middle">Nivel</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in participantes">
                    <td class="align-middle"> {{x.nombre}} </td>
                    <td class="align-middle"> {{x.sexo}} </td>
                    <td class="align-middle"> {{x.nombreD}} </td>
                    <td class="align-middle"> {{x.horas}} </td>
                    <td class="align-middle"> {{x.nivel}} </td>
                </tr>
            </tbody>
            <tbody ng-show="participantes | isEmpty">
                <tr class="text-center">
                    <td class="align-middle" colspan="10" class=" bg-light align-middle p-4 font-italic">
                        <h5>No hay registros</h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" ng-hide="participantes | isEmpty">
    </div>
    <div class="text-center">
        <button class="btn bg-wine text-white p-2 m-2" ng-click="printFormato()">
            <span class="downloadDocs_icon mr-2"></span>Formato Lista de Asistencia del Curso
        </button>
    </div>
</div>