<ng-include src="'/Residencia/Pruebas/pruebaLogin/vistasC/nav.html'"></ng-include>
<div class="container px-5" ng-init="getCursoAct();getDepartamentos();getInstructores()">
	<div class="text-center mt-3 border-bottom">
		<h4>Actualizar curso</h4>
	</div>
	<form>
		<div class="input-group mb-4 mt-5">
			<div class="input-group-prepend">
				<label class="input-group-text" for="folio">Folio</label>
			</div>
			<input type="text" id="folio" class="form-control" ng-model="curso.Folio"
				ng-value="actCurso.Folio">
			<div class="input-group-prepend">
				<label class="input-group-text" for="ClaveRegistro">Clave registro</label>
			</div>
			<input readonly type="text" id="ClaveRegistro" class="form-control" ng-model="curso.ClaveRegistro"
				ng-value="actCurso.ClaveRegistro">
		</div>
		<div class="input-group mb-5  mt-4">
			<div class="input-group-prepend">
				<label class="input-group-text" for="nombreCurso">Nombre</label>
			</div>
			<input required type="text" id="nombreCurso" class="form-control" ng-model="curso.curso"
				ng-value="actCurso.curso">
		</div>
		<div class="dropdown-divider"></div>
		<div class="input-group mb-4  mt-5">
			<div class="input-group-prepend">
				<label class="input-group-text" for="duracion">Duraci&oacute;n</label>
			</div>
			<input required type="number" id="duracion" class="form-control" min="30" string-to-number
				ng-model="actCurso.duracion" ng-value="actCurso.duracion">

			<div class="input-group-prepend">
				<label class="input-group-text" for="horaInicio">Hora de Inicio</label>
			</div>
			<input required type="time" id="horaInicio" class="form-control" as-date ng-model="curso.horaInicio"
				ng-value="actCurso.horaInicio">

			<div class="input-group-prepend">
				<label class="input-group-text" for="horaFin">Hora de Termino</label>
			</div>
			<input required type="time" id="horaFin" class="form-control" as-date ng-model="curso.horaFin"
				ng-value="actCurso.horaFin">
		</div>
		<div class="input-group mb-5  mt-4">
			<div class="input-group-prepend">
				<label class="input-group-text" for="fechaInicio">Fecha Inicio</label>
			</div>
			<input required type="date" id="fechaInicio" class="form-control" as-date ng-model="curso.fechaInicio"
				ng-value="actCurso.fechaInicio">
			<div class="input-group-prepend">
				<label class="input-group-text" for="fechaFin">Fecha Fin</label>
			</div>
			<input required type="date" id="fechaFin" class="form-control" as-date ng-model="curso.fechaFin"
				ng-value="actCurso.fechaFin">
		</div>
		<div class="dropdown-divider"></div>
		<div class="input-group mb-4  mt-5">
			<div class="input-group-prepend">
				<label class="input-group-text" for="modalidad">Modalidad</label>
			</div>
			<select required class="custom-select" id="modalidad" ng-model="curso.modalidad" ng-value="actCurso.modalidad">
				<option value="1">Presencial</option>
				<option value="2">Virtual</option>
				<option value="3">Semipresencial</option>
			</select>
			<div class="input-group-prepend">
				<label class="input-group-text" for="lugar">Lugar</label>
			</div>
			<input required type="text" id="lugar" class="form-control" ng-model="actCurso.lugar"
				ng-value="actCurso.lugar">
			<div class="input-group-prepend">
				<label class="input-group-text" for="destinatarios">Destinatarios</label>
			</div>
			<input required type="text" id="destinatarios" class="form-control" ng-model="actCurso.destinatarios"
				ng-value="actCurso.destinatarios">
		</div>
		<div class="input-group mb-3  mt-4">
			<div class="input-group-prepend">
				<label class="input-group-text" for="objetivo">Objetivo</label>
			</div>
			<textarea required type="text" id="objetivo" class="form-control" ng-value="actCurso.objetivo"
				ng-model="actCurso.objetivo"></textarea>
		</div>
		<div class="input-group mb-5  mt-4">
			<div class="input-group-prepend">
				<label class="input-group-text" for="observaciones">Observaciones</label>
			</div>
			<textarea type="text" id="observaciones" class="form-control" ng-model="actCurso.observaciones"
				ng-value="actCurso.observaciones"></textarea>
		</div>
		<div class="dropdown-divider"></div>
		<div class="input-group mb-3  mt-5">
			<div class="input-group-prepend">
				<label class="input-group-text" for="departamento">Departamento</label>
			</div>
			<select required class="custom-select" id="departamento" ng-model="actCurso.departamento">
				<option ng-repeat="x in dptos" value="{{x.idDepartamento}}"> {{x.nombreDepartamento}} </option>
			</select>
			<div class="input-group-prepend">
				<label class="input-group-text" for="instructor">Instructor</label>
			</div>
			<select required class="custom-select" id="instructor" ng-model="actCurso.instructor">
				<option ng-repeat="x in instructor" value="{{x.idInstructor}}"> {{x.nombre}} </option>
			</select>
		</div>
		<div class="text-center mt-5 mb-5">
			<button class="btn bg-wine" ng-click="actualizarCurso(actCurso)">
				<span class="ok2_icon"></span>Actualizar
				<br>
			</button>
		</div>
	</form>
	<div class="card-footer text-muted text-center">Todos los derechos reservados. ITD 2020</div>
</div>
<div class="toast" data-autohide="false" id="alerta"
	style="position: fixed; top: 50px; right: 50px; background-color: rgb(255, 255, 255); width:500px">
	<div class="toast-header bg-{{alert.tipo}} text-white">
		<strong class="mr-auto">{{alert.titulo}}</strong>
		<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
			<span aria-hidden="true" style="font-size: 1.1em;">&times;</span>
		</button>
	</div>
	<div class="toast-body">
		<div class="text-dark">{{alert.mensaje}}</div>
	</div>
</div>