<ng-include src="'/Residencia/Pruebas/pruebaLogin/vistasC/nav.html'"></ng-include>
<div class="container px-5" ng-controlelr="constanciasController">
	<table class="table border-bottom border-dark">
		<tr>
			<td>
				<div class="input-group mb-3 col-sm-5 mt-4">
					<div class="input-group-prepend">
						<label class="input-group-text" for="periodo">Periodo</label>
					</div>
					<select required class="custom-select" id="periodo" 
					ng-model="constancia.periodo" 
					ng-options='p.periodo for p in periodos' 
					ng-change="getCursosDelPeriodo(constancia.periodo)">
						<option value="{{p.periodo}}"> {{p.periodo}} </option>
					</select>
				</div>
				<div class="input-group mb-3 col-sm-9 mt-4">
					<div class="input-group-prepend">
						<label class="input-group-text" for="curso">Curso</label>
					</div>
					<select required class="custom-select" id="curso" 
					ng-model="constancia.curso" 
					ng-options='c.curso for c in cursosPeriodo' 
					ng-change="cursoSeleccionado(constancia.curso)"			
					>
						<option value="{{c.curso}}"> {{c.curso}} </option>
					</select>
				</div>
				<div class="input-group mb-3 col-sm-5 mt-4">
					<div class="input-group-prepend">
						<label class="input-group-text" for="folio">Folio</label>
					</div>
					<input required type="text" id="folio" class="form-control">
				</div>
			</td>
			<td class="align-middle text-center">
				<label for="btn_generar">Generar</label><br>
				<button class="btn bg-white ok-blank_icon"></button>
			</td>
		</tr>
	</table>
	<div>
		<h4 class="text-center">Constancias. <br> Periodo {{periodo}} </h4>
		<table class="table text-center">
			<thead>
				<tr>
					<th scope="col">Folio</th>
					<th scope="col">Docente</th>
					<th scope="col">Curso</th>
					<th scope="col">Fecha</th>
					<th scope="col">Descargar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in constanciasPeriodoActual">
					<th scope="row">{{x.folio}}</th>
					<td>{{x.docente}}</td>
					<td>{{x.curso}}</td>
					<td>{{x.fecha}}</td>
					<td><a href=""><button class="btn bg-white download_icon"></button></a></td>
				</tr>
				
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted text-center">Todos los derechos reservados. ITD 2020</div>
</div>
