<ng-include src="'/Residencia/ActualizacionDocente/vistas/D/nav.html'"></ng-include>
<div class="container" ng-init="getCursos();getMisCursos()">
    <div class="programa_page d-flex justify-content-center">
        <div class="p-2"><img src="http://localhost/Residencia/ActualizacionDocente/images/Logo ITD.png" alt="logo ITD" class="logoITD"></div>
        <div class="p-4">
            <div class="text-center">
                <h1>Periodo: {{periodo}}</h1>
                <h3>Programa Institucional de Formaci&oacute;n y Actualizaci&oacute;n Docente y Profesional</h3>
            </div>
        </div>
    </div>
    
    <div class="text-center">
        <h4>Cursos Inscritos</h4>
    </div>
    <div class="card shadow-lg mb-3">
        <div class="card-body table-responsive">
            <table class="table table-sm text-center table-bordered">
                <thead class="bg-wine text-white">
                    <tr>
                        <td class="font-italic align-middle" scope="col">Curso</td>
                        <td class="font-italic align-middle" scope="col">Periodo de realizaci&oacute;n</td>
                        <td class="font-italic align-middle" scope="col">Salir del curso</td>
                        <td class="font-italic align-middle" scope="col">Encuesta de opini&oacute;n</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="mc in misCursos">
                        <td class="align-middle">{{mc.curso}}</td>
                        <td class="align-middle">{{mc.fecha}} <br>{{mc.horario}} Hrs.</td>
                        <td class="align-middle">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-light bg-white logout_icon" data-toggle="modal"
                                data-target="#modalS{{mc.idCurso}}"></button>
                            <!-- Modal -->
                            <div class="modal fade" id="modalS{{mc.idCurso}}" tabindex="-1" role="dialog"
                                aria-labelledby="Title" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="dialog">
                                    <div class="modal-content">
                                        <div class="modal-header bg-wine text-white">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span class="text-light" aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro de que quiere salir del curso: <br> "<span
                                                class="font-italic">{{mc.curso}}</span>"?
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn bg-wine text-white" title="Aceptar"
                                                ng-click="salirCurso(mc.idCurso)" data-backdrop="false">Aceptar</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                data-backdrop="false">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">
                            <a href="#!/inicioD/encuesta" ng-click="getEncuesta(1,mc.idCurso)">
                                <button class="btn bg-white encuesta_icon"></button>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="misCursos | isEmpty">
                    <tr class="text-center">
                        <td class="align-middle" colspan="4" class=" bg-light align-middle p-4 font-italic">
                            <h5>No hay registros</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <h4>Programa Institucional</h4>
    </div>
    <div class="card shadow-lg mb-3">
        <div class="card-body table-responsive">
            <table class="table table-sm text-center table-bordered">
                <thead class="bg-wine text-white">
                    <tr>
                        <td class="font-italic align-middle">Curso</td>
                        <td class="font-italic align-middle">Periodo de realizaci&oacute;n</td>
                        <td class="font-italic align-middle">M&aacute;s informaci&oacute;n</td>
                        <td class="font-italic align-middle">Inscribirme</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in cursos">
                        <td class="align-middle"> {{x.curso}} </td>
                        <td class="align-middle"> {{x.fecha}} <br> {{x.horario}} </td>
                        <td class="align-middle"><a href="#!/inicioD/cursos/informacion"
                                ng-click=cursoID(x.idCurso)><button class="btn btn-light moreinfo_icon"
                                    title="Ver más información"></button></a></td>
                        <td class="align-middle">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-light bg-white editar_icon" data-toggle="modal"
                                data-target="#modal{{x.idCurso}}"></button>
                            <!-- Modal -->
                            <div class="modal fade" id="modal{{x.idCurso}}" tabindex="-1" role="dialog"
                                aria-labelledby="Title" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="dialog">
                                    <div class="modal-content">
                                        <div class="modal-header bg-wine text-white">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro de que quiere inscribirse al curso: <br> "<span
                                                class="font-italic">{{x.curso}}</span>"?
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn bg-wine text-white" title="Aceptar"
                                                ng-click="inscribirCurso(x.idCurso)" data-dismiss="modal"
                                                data-backdrop="false">Aceptar</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                data-backdrop="false">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="cursos | isEmpty">
                    <tr class="text-center">
                        <td class="align-middle" colspan="4" class=" bg-light align-middle p-4 font-italic">
                            <h5>No hay registros</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="toast w-75" data-autohide="false" id="alerta"
        style="position: fixed; top: 50px; right: 30px; background-color: rgb(250, 250, 250);">
        <div class="toast-header bg-{{alert.tipo}} text-dark">
            <strong class="mr-auto">{{alert.titulo}}</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                <span aria-hidden="true" style="font-size: 1.1em;">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <div>{{alert.mensaje}}</div>
        </div>
    </div>
</div>