<ng-include src="'/Residencia/ActualizacionDocente/vistas/D/nav.html'"></ng-include>
<div class="container" ng-init="getMisCursos();getMisCursosConcluidos()">
    <div class="programa_page d-flex justify-content-center">
        <div class="p-2"><img src="http://localhost/Residencia/ActualizacionDocente/images/Logo ITD.png" alt="logo ITD" class="logoITD"></div>
        <div class="p-4">
            <div class="text-center">
                <h1>Periodo Agosto/Diciembre 2020</h1>
                <h3>Programa Institucional de Formaci&oacute;n y Actualizaci&oacute;n Docente y Profesional</h3>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h4>Cursos en curso</h4>
    </div>
    <div class="card mb-3">
        <div class="card-body shadow table-responsive">
            <table class="table table-bordered text-center">
                <thead class="bg-wine text-white ">
                    <tr>
                        <td class="align-middle font-italic">No.</td>
                        <td class="align-middle font-italic">Curso</td>
                        <td class="align-middle font-italic">Periodo de realizaci&oacute;n</td>
                        <td class="align-middle font-italic">Registro de asistencia</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="mc in misCursos">
                        <th class="align-middle" scope="row">{{ $index +1 }}</th>
                        <td class="align-middle">{{mc.curso}}</td>
                        <td class="align-middle">{{mc.fecha}} <br>{{mc.horario}} Hrs.</td>
                        <td class="align-middle">
                            <a href="#!/inicioD/asistencia" ng-click="cursoID(mc.idCurso)">
                                <button class="btn bg-white calendario_icon"></button>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="misCursos | isEmpty">
                    <tr class="text-center">
                        <td class="align-middle" colspan="4" class=" bg-light align-middle p-4 font-italic">
                            <h5>No hay registros</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <h4>Cursos concluidos</h4>
    </div>
    <div class="card mb-3">
        <div class="card-body shadow table-responsive">
            <table class="table table-bordered text-center">
                <thead class="bg-wine text-white ">
                    <tr>
                        <td class="align-middle font-italic">No.</td>
                        <td class="align-middle font-italic">Curso</td>
                        <td class="align-middle font-italic">Periodo de realizaci&oacute;n</td>
                        <td class="font-italic align-middle" scope="col">Encuesta de opini&oacute;n</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="mcC in misCursosC">
                        <td class="align-middle" scope="row">{{ $index +1 }}</td>
                        <td class="align-middle">{{mcC.curso}}</td>
                        <td class="align-middle">{{mcC.fecha}} <br>{{mc.horario}} Hrs.</td>
                        <td class="align-middle">
                            <a href="#!/inicioD/encuesta" ng-click="getEncuesta(1,mc.idCurso)">
                                <button class="btn bg-white encuesta_icon"></button>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="misCursosC | isEmpty">
                    <tr class="text-center">
                        <td class="align-middle" colspan="5" class=" bg-light align-middle p-4 font-italic">
                            <h5>No hay registros</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>