<ng-include src="'/Residencia/Pruebas/pruebaLogin/vistasJ/nav.html'"></ng-include>
<div class="container">
    <div class="programa_page d-flex justify-content-center">
        <div class="p-2"><img src="/Residencia/Proyecto/images/Logo ITD.png" alt="logo ITD" class="logoITD"></div>
        <div class="p-4">
            <div class="text-center">
                <h1>Periodo {{periodo}}</h1>
                <h3>Formaci&oacute;n de Programa Institucional y Actualizaci&oacute;n docente y Profesional</h3>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end">
		<div class="mb-3 p-2 mt-4">
			<div class="input-group-prepend">
				<label class="input-group-text" for="nuevaConstancia">Generar Curso</label>
				<a href="#!/inicioJ/cursos/generar"><button id="nuevoCurso" class="btn bg-white border-dark plus_icon" type="button"></button></a>
			</div>
		</div>
    </div>
    
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">
                    Validación
                </th>
                <th scope="col">Instructor</th>
                <th scope="col">Curso a impartir</th>
                <th scope="col">Fecha</th>
                <th scope="col">Documentos</th>
                <th scope="col">+</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in cursos">
                <th scope="row" class=" align-middle "> <img ng-src="/Residencia/Proyecto/images/{{x.validado}}.png"></th>
                <td class=" align-middle "> {{x.maestro}} </td>
                <td class=" align-middle "> {{x.curso}} </td>
                <td class=" align-middle "> {{x.fecha}} <br> {{x.horario}} </td>
                <td class=" align-middle "><a href="#!/inicioJ/cursos/subirDocumentos" ng-click=cursoID(x.idCurso)><button class="btn bg-white documento_icon"></button></a></td>

                <!-- #!/inicioC/programa/infoCurso -->
                <td class=" align-middle "><a href="#!/inicioJ/cursos/infoCurso" ng-click="cursoID(x.idCurso)"><button class="btn btn-light moreinfo_icon" title="Ver más información"></button></a></td>
                <td class="align-middle">
                    <a href="">
                        <button class="btn btn-sm bg-white editar_icon mb-1" title="Editar"></button>
                    </a>
                    
                    <button class="btn btn-sm bg-white borrar_icon" title="Eliminar" ng-click="deleteCurso(x.idCurso, x.curso)"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>