<ng-include src="'/Residencia/Pruebas/pruebaLogin/vistasJ/nav.html'"></ng-include>
<div class="container">
    <div class="d-flex align-middle">
        <div class=" pt-4">
            <button title="Regresar a la página anterior" class="btn-back back_icon" ng-click="back()">
            </button>
        </div>
        <div class="text-justify p-3 mt-2 border-bottom border-dark">
            <h1>{{infoCurso.curso}}</h1>
        </div>
    </div>
    <div>
        <div class="text-justify p-3" style="padding-bottom: 15px;"><strong>Objetivo: </strong>{{infoCurso.objetivo}}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tbody class="bg-white text-center table table-bordered mt-2 pt-2">
                <tr class="bg-wine">
                    <td class="font-italic text-white align-middle">Periodo de realizaci&oacute;n</td>
                    <td class="font-italic text-white align-middle">Lugar</td>
                    <td class="font-italic text-white align-middle">No. de horas por curso</td>
                    <td class="font-italic text-white align-middle">Instructor (a)</td>
                    <td class="font-italic text-white align-middle">Dirigido a:</td>
                    <td class="font-italic text-white align-middle">Modalidad:</td>
                    <td class="font-italic text-white align-middle">Departamento:</td>
                </tr>
                <tr>
                    <td class="align-middle">{{infoCurso.fecha}} <br>
                        {{infoCurso.horario}}</td>
                    <td class="align-middle">{{infoCurso.lugar}}</td>
                    <td class="align-middle">{{infoCurso.duracion}}</td>
                    <td class="align-middle">{{infoCurso.maestro}}</td>
                    <td class="align-middle">{{infoCurso.destinatarios}}</td>
                    <td class="align-middle">{{infoCurso.modalidad}}</td>
                    <td class="align-middle">{{infoCurso.nombreDepartamento}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center mt-3">
        <a ng-click="cursoID(infoCurso.idCurso)">
            <button class="btn btn-lg bg-white editar_icon mb-1" data-toggle="modal" data-target="#modalEditar"
                title="Editar"></button>
        </a>
    </div>
    <div class="text-center">
        <button class="btn bg-wine text-white" ng-click="printOficio()">
            <span class="print_icon mr-2"></span>Imprimir Oficio del Curso
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditar"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-wine text-white">
                    <h5 class="modal-title" id="modalEditarTitulo">Editar curso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group mb-4 mt-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="folio">Folio</label>
                            </div>
                            <input type="text" id="folio" class="form-control" ng-model="curso.Folio"
                                ng-value="actCurso.Folio">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="ClaveRegistro">Clave registro</label>
                            </div>
                            <input readonly type="text" id="ClaveRegistro" class="form-control"
                                ng-model="curso.ClaveRegistro" ng-value="actCurso.ClaveRegistro">
                        </div>
                        <div class="input-group mb-3  mt-4">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="nombreCurso">Nombre</label>
                            </div>
                            <textarea required type="text" id="nombreCurso" class="form-control" ng-model="curso.curso"
                                ng-value="actCurso.curso"></textarea>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="input-group mb-4  mt-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="duracion">Duraci&oacute;n</label>
                            </div>
                            <input required type="number" id="duracion" class="form-control" min="30" string-to-number
                                ng-model="actCurso.duracion" ng-value="actCurso.duracion">
                        </div>
                        <div class="input-group mb-3  mt-4">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="horaInicio">Hora de Inicio</label>
                            </div>
                            <input required type="time" id="horaInicio" class="form-control" as-date
                                ng-model="curso.horaInicio" ng-value="actCurso.horaInicio">

                            <div class="input-group-prepend">
                                <label class="input-group-text" for="horaFin">Hora de Termino</label>
                            </div>
                            <input required type="time" id="horaFin" class="form-control" as-date
                                ng-model="curso.horaFin" ng-value="actCurso.horaFin">
                        </div>
                        <div class="input-group mb-3  mt-4">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="fechaInicio">Fecha Inicio</label>
                            </div>
                            <input required type="date" id="fechaInicio" class="form-control" as-date
                                ng-model="curso.fechaInicio" ng-value="actCurso.fechaInicio">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="fechaFin">Fecha Fin</label>
                            </div>
                            <input required type="date" id="fechaFin" class="form-control" as-date
                                ng-model="curso.fechaFin" ng-value="actCurso.fechaFin">
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="input-group mb-4  mt-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="modalidad">Modalidad</label>
                            </div>
                            <select required class="custom-select" id="modalidad" ng-model="curso.modalidad"
                                ng-value="actCurso.modalidad">
                                <option value="1">Presencial</option>
                                <option value="2">Virtual</option>
                                <option value="3">Semipresencial</option>
                            </select>
                        </div>
                        <div class="input-group mb-4  mt-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="lugar">Lugar</label>
                            </div>
                            <input required type="text" id="lugar" class="form-control" ng-model="actCurso.lugar"
                                ng-value="actCurso.lugar">

                        </div>
                        <div class="input-group mb-4  mt-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="destinatarios">Destinatarios</label>
                            </div>
                            <input required type="text" id="destinatarios" class="form-control"
                                ng-model="actCurso.destinatarios" ng-value="actCurso.destinatarios">
                        </div>
                        <div class="input-group mb-3  mt-4">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="objetivo">Objetivo</label>
                            </div>
                            <textarea required type="text" id="objetivo" class="form-control"
                                ng-value="actCurso.objetivo" ng-model="actCurso.objetivo"></textarea>
                        </div>
                        <div class="input-group mb-3  mt-4">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="observaciones">Observaciones</label>
                            </div>
                            <textarea type="text" id="observaciones" class="form-control"
                                ng-model="actCurso.observaciones" ng-value="actCurso.observaciones"></textarea>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="input-group mb-3  mt-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="departamento">Departamento</label>
                            </div>
                            <select required class="custom-select" id="departamento" ng-model="actCurso.departamento">
                                <option value="0"> Cualquier departamento </option>
                                <option ng-value="dpto.idDepartamento"> {{dpto.nombreDepartamento}} </option>
                            </select>
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="instructor">Instructor</label>
                            </div>
                            <select required class="custom-select" id="instructor" ng-model="actCurso.instructor">
                                <option ng-repeat="x in instructor" value="{{x.idInstructor}}"> {{x.nombre}} </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-wine" data-dismiss="modal"
                        ng-click="actualizarCurso(actCurso)">Guardar
                        cambios</button>
                </div>
            </div>
        </div>
    </div>
    <div class="toast w-75" data-autohide="false" id="alerta"
    style="position: fixed; top: 50px; right: 30px; background-color: rgb(250, 250, 250);">
    <div class="toast-header bg-{{alert.tipo}} text-dark">
        <strong class="mr-auto">{{alert.titulo}}</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
            <span aria-hidden="true" style="font-size: 1.1em;">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <div>{{alert.mensaje}}</div>
    </div>
</div>
</div>