<ng-include src="'/Residencia/ActualizacionDocente/vistas/C/nav.html'"></ng-include>
<div class="container" ng-init="getTodosLosCursos();faltaDocumentacion();getPeriodos()">
    <div class="programa_page d-flex justify-content-center">
        <div class="p-2"><img src="http://localhost/Residencia/ActualizacionDocente/images/Logo ITD.png" alt="logo ITD" class="logoITD"></div>
        <div class="p-4">
            <div class="text-center">
                <h3>Programa Institucional de Formaci&oacute;n y Actualizaci&oacute;n Docente y Profesional</h3>
                <h1>Todos los Programas Institucionales</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div class="mb-3 p-2">
                <div class="input-group-prepend">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Cursos</span>
                    </div>
                    <input type="text" class="form-control" ng-model="filtro" placeholder="Filtrar">
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="input-group p-2 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Periodo</span>
                </div>
                <select required class="custom-select" id="periodo" ng-model="periodo"
                    ng-options='p.periodo for p in periodos' ng-change="getCursos(periodo)">
                    <option value="{{p.periodo}}"> {{p.periodo}} </option>
                </select>
            </div>
        </div>
    </div>

    <div class=" table-responsive ">
        <table class="table table-sm text-center shadow">
            <thead class="bg-wine text-white">
                <tr>
                    <td class="align-middle font-italic">Folio</td>
                    <td class="align-middle font-italic">Instructor</td>
                    <td class="align-middle font-italic">Curso a impartir</td>
                    <td class="align-middle font-italic">Fecha</td>
                    <td class="align-middle font-italic">+</td>
                    <td class="align-middle font-italic">Lista de Asistencia</td>
                    <td class="align-middle font-italic">Resultados de Encuestas</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in TodosCursos | filter:filtro">
                    <td class=" align-middle text-center "> <small style="font-weight: 700;">{{x.folio}}</small></td>
                    <td class=" align-middle "> {{x.maestro}} </td>
                    <td class=" align-middle "> {{x.curso}} </td>
                    <td class=" align-middle ">
                        <small>{{x.fecha}}<br> {{x.horario}}</small>
                    </td>

                    <td class=" align-middle ">
                        <a href="#!/inicioC/infoCurso" ng-click=cursoID(x.idCurso)>
                            <button class="btn btn-light moreinfo_icon" title="Ver más información"></button>
                        </a>
                    </td>

                    <td class=" align-middle ">
                        <a href="#!/inicioC/asistencia" ng-click=cursoID(x.idCurso)>
                            <button class="btn bg-white calendario_icon"></button>
                        </a>
                    </td>
                    <td class=" align-middle ">
                        <a href="#!/inicioC/resultadosEncuestas" ng-click=cursoID(x.idCurso)>
                            <button class="btn bg-white encuesta_icon"></button>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="TodosCursos | isEmpty">
                <tr class="text-center">
                    <td class="align-middle text-center p-5 bg-light" colspan="7"
                        class=" bg-light align-middle p-4 font-italic">
                        <h5>No hay cursos registrados</h5>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="toast w-75" data-autohide="false" id="alerta"
            style="position: fixed; top: 50px; right: 30px; background-color: rgb(250, 250, 250);">
            <div class="toast-header bg-{{alert.tipo}} text-dark">
                <strong class="mr-auto">{{alert.titulo}}</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                    <span aria-hidden="true" style="font-size: 1.1em;">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <div>{{alert.mensaje}}</div>
            </div>
        </div>
    </div>
</div>