<ng-include src="'/Residencia/Pruebas/pruebaLogin/vistasC/nav.html'"></ng-include>
<div class="container">
    <div class="text-center align-middle">
        <div class="row align-items-center justify-content-center border-bottom border-dark">
            <div class="pt-3 d-flex mx-auto">
                <button title="Regresar a la página anterior" class="btn-back back_icon px-auto" ng-click="back()">
                </button>
                
                <h1 style="align-self: center;">folio: {{folioConstancia}}</h1>

            </div>
        </div>
    </div>
    <div class="border-bottom border-dark mb-4"></div>
    <div class="d-flex h-75">
        <div>
            <img src="http://localhost/Residencia/ActualizacionDocente/images/Logo%20ITD.png" class="logoITD" alt="">
        </div>
        <div class="d-flex mx-auto pt-4" ng-repeat="x in constancia">
            
            <div class="embed embed-responsive-16by9">
                <object data="http://localhost/Residencia/ActualizacionDocente/files/{{x.rutaConstancia}}" width="900" height="400" type="text/html" class="embed-responsive-item">
                    El documento no pudo ser cargado, pero puede descargarlo con el siguiente botón <br>
                    <a class="btn text-white btn-warning"
                        href="http://localhost/Residencia/ActualizacionDocente/files/{{x.rutaConstancia}}" target="_blank">Descargar
                        documento</a>
                </object>
            </div>
        </div>
    </div>
</div>
<div class="card-footer text-muted text-center">Todos los derechos reservados. ITD 2020</div>