<!DOCTYPE html>
<html lang="en" ng-app="appConstancia">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Constancias</title>
	</head>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/estilos.css">
	<script src="/Residencia/Proyecto/js/AngularJS/angular.min.js"></script>
	<script src="/Residencia/Proyecto/js/AngularJS/appConstancias.js"></script>
	<body>
		<div ng-include="'nav.html'"></div>
		<div class="container" ng-controller="constanciasController">
			<div class="d-flex justify-content-between">
				<div class="input-group mb-3 p-2 col-sm-4 mt-4">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Constancias</label>
					</div>
					<select class="custom-select" id="inputGroupSelect01">
						<option selected>Filtrar...</option>
						<option value="AB">AB</option>
						<option value="AC">AC</option>
						<option value="AD">AD</option>
					</select>
				</div>
				<div class="mb-3 p-2 mt-4">
					<div class="input-group-prepend">
						<label class="input-group-text" for="nuevaConstancia">Generar constancias</label>
						<a href="generar-constancia.html"><button id="nuevaConstancia"
						class="btn bg-white border-dark plus_icon" type="button"></button></a>
					</div>
				</div>
			</div>
			<table class="table text-center mt-5">
				<thead>
					<tr>
						<th scope="col">Folio</th>
						<th scope="col"> </th>
						<th scope="col">Fecha</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in datos.constancias">
						<th scope="row">{{x.folio}}</th>
						<td>{{x.curso}}</td>
						<td>{{x.fecha}}</td>
						<td>
							<a href="ver-constancia.html">
								<button class="btn bg-white eye_icon" ng-click="ver(x.folio,x.curso)"></button></button>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>