<ng-include src="'/Residencia/ActualizacionDocente/vistas/A/nav.html'"></ng-include>
<div class="container" ng-init="getEncuestas()">

    <div class="input-group mb-3 mt-4 col-sm-12">
        <div class="input-group-prepend">
            <label class="input-group-text" for="encuesta">Tipo de encuesta</label>
        </div>
        <select required class="custom-select" id="encuesta.tipo" ng-model="encuesta.id"
            ng-change="getPreguntasEncuesta()">
            <option ng-repeat="x in encuestas" value="{{x.tipoEncuesta}}"> {{x.nombreEncuesta}} </option>
        </select>
    </div>
    <div class="align-middle text-center p-2" ng-show="encuesta.id != undefined">
        <button type="button" class="btn bg-wine text-white" data-toggle="modal" data-target="#AgregarModal">
            <i class="far fa-plus-square mr-2"></i> Agregar pregunta
        </button>

        <!-- Modal -->
        <div class="modal fade" id="AgregarModal" tabindex="-1" role="dialog" aria-labelledby="AgregarModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-wine text-white">
                        <h5 class="modal-title" id="AgregarModalTitle">Encuesta de {{encuestaSel}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Pregunta</span>
                            </div>
                            <textarea class="form-control" aria-label="Pregunta" ng-model="encuesta.pregunta"
                                ng-value="p.pregunta"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn bg-wine" data-dismiss="modal"
                            ng-click="addPreguntaEncuesta()">Agregar pregunta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" ng-show="encuesta.id != undefined">
            <thead class="bg-wine text-white font-italic">
                <tr class="text-center">
                    <td>N°</td>
                    <td>Pregunta</td>
                    <td>Editar/Eliminar</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in preguntas">
                    <td>{{ $index +1 }}</td>
                    <td>{{ p.pregunta}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-white editar_icon" data-toggle="modal"
                            data-target="#modalEditar{{$index}}">
                        </button>

                        <div class="modal fade" id="modalEditar{{$index}}" tabindex="-1" role="dialog"
                            aria-labelledby="modalEditarTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-wine text-white">
                                        <h5 class="modal-title" id="modalEditarTitle">Editar pregunta</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Pregunta</span>
                                            </div>
                                            <textarea class="form-control" aria-label="Pregunta"
                                                ng-model="encuesta.preguntaMod" ng-value="p.pregunta"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn bg-wine text-white"
                                            ng-click="actualizarPregunta(p,encuesta)" data-dismiss="modal">Guardar
                                            cambios</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-white borrar_icon" data-toggle="modal"
                            data-target="#modalEliminar{{$index}}"></button>
                        <div class="modal fade" id="modalEliminar{{$index}}" tabindex="-1" role="dialog"
                            aria-labelledby="modalEliminarTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-wine text-white">
                                        <h5 class="modal-title" id="modalEliminarTitle">Eliminar pregunta</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="font-italic font-weight-bold"> ¿Está seguro que quiere eliminar esta
                                            pregunta? </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn bg-wine text-white"
                                            ng-click="eliminarPregunta(p.id)" data-dismiss="modal">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="preguntas | isEmpty">
                <tr class="text-center">
                    <td colspan="3" class=" bg-light align-middle p-5 font-italic">
                        <h5 class="mx-auto">No hay preguntas en esta encuesta</h5>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="bg-light align-middle text-center font-italic p-5" ng-show="encuesta.id == undefined">
            <h4>Seleccione una encuesta</h4>
        </div>
    </div>
    <div class="toast w-75" data-autohide="false" id="alerta"
        style="position: fixed; top: 50px; right: 30px; background-color: rgb(250, 250, 250);">
        <div class="toast-header bg-{{alert.tipo}} text-dark">
            <strong class="mr-auto">{{alert.titulo}}</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                <span aria-hidden="true" style="font-size: 1.1em;">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <div>{{alert.mensaje}}</div>
        </div>
    </div>

</div>