<ng-include src="'/Residencia/Pruebas/pruebaLogin/vistasA/nav.html'"></ng-include>
<div class="container px-5" ng-controlelr="constanciasController">
	<table class="table border-bottom border-dark">

		<div class="input-group mb-3 mt-4 col-sm-12">
			<div class="input-group-prepend">
				<label class="input-group-text" for="usuario">Jefe de Departamento</label>
			</div>
			<select required class="custom-select" id="usuario" ng-model="dpto.usuario">
				<option ng-repeat="x in usuarios" value="{{x.nombre}}"> {{x.nombre}} </option>
			</select>
		</div>
		<div class="input-group mb-3 mt-4 col-sm-12">
			<div class="input-group-prepend">
				<label class="input-group-text" for="nombreDpto">Nombre Departamento</label>
			</div>
			<input required type="text" id="nombreDpto" class="form-control" ng-model="dpto.nombreDpto">
		</div>
		<div class="text-center mt-4">
			<button class="btn bg-wine text-white"  ng-click="agregarDepartamento(dpto)"> 
				<span class="ok2_icon"></span>Agregar
			</button>
		</div>
	</table>
	<br>
	<h4 class="text-center">Departamentos Académicos</h4>
	<div class=" table-responsive mt-4">
        <table class="table">
            <thead class="bg-wine text-white">
				<tr>
					<td class="align-middle font-italic text-left">Departamento</td>
					<td class="align-middle font-italic text-left">Jefe</td>
					<td class="align-middle font-italic text-center"></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in dptos">
					<th class="align-middle" scope="row">{{x.nombreDepartamento}}</th>
					<td class="align-middle">{{x.Jefe}}</td>
					<td class="align-middle text-center">
                        <a href="#!/inicioA/departamentos/actualizarDepartamento" ng-click=DepartamentoID(x.idDepartamento)>
                            <button class="btn btn-sm bg-white editar_icon mb-1" title="Editar"></button>
                        </a>
                        <!-- Button trigger modal -->


                        <button type="button" class="btn btn-light bg-white borrar_icon" data-toggle="modal"
                            data-target="#modal{{x.idDepartamento}}"></button>


                        <!-- Modal -->
                        <div class="modal fade" id="modal{{x.idDepartamento}}" tabindex="-1" role="dialog"
                            aria-labelledby="Title" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Está seguro de que quiere eliminar el Departamento: <br> "<span
                                            class="font-italic">{{x.nombreDepartamento}}</span>"?
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-success" title="Aceptar"
                                            ng-click="deleteDepartamento(x.idDepartamento, x.nombreDepartamento)"
                                            data-backdrop="false">Aceptar</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                                            data-backdrop="false">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
				</tr>

			</tbody>
			<tbody ng-show="dptos | isEmpty">
				<tr class="text-center">
					<td class="align-middle" colspan="4" class=" bg-light align-middle p-4 font-italic">
						<h5>No hay constancias este periodo</h5>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-muted text-center">Todos los derechos reservados. ITD 2020</div>
</div>
<div class="toast w-75" data-autohide="false" id="alerta"
    style="position: fixed; top: 50px; right: 30px; background-color: rgb(250, 250, 250);">
    <div class="toast-header bg-{{alert.tipo}} text-dark">
        <strong class="mr-auto">{{alert.titulo}}</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
            <span aria-hidden="true" style="font-size: 1.1em;">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <div>{{alert.mensaje}}</div>
    </div>
</div>